/*
Style For Whole Page*/
body *{
    -webkit-tap-highlight-color: transparent;
    transition: background-image 1s;
}

:root {
    --bgc: #FFDE53;
    --fc: #53a1b3;
    --shadow: rgba(0, 0, 0, 0.4);
    --opt-shadow:rgba(83,161,179,0.1);

    --top: 7%;
    --left: 7%;
}

p{
    margin:0;
    margin-bottom: 2%;;
    text-align: center;
}

button{
    cursor: pointer;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--fc);
    background: var(--bgc);
    scroll-behavior: smooth;
    margin:0;
}


.nav{
    /* backface-visibility: hidden; */
    display: flex;
    width: 100%;
    position:sticky;
    top:0;
    z-index: 2000;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    transform: translateZ(120px);
    top:0;
    left: 0;
    background-color: var(--bgc);
    box-shadow: 0px 2px 2px var(--shadow);

}

.reset{
    position: relative;
    color:#F15481;
    background-color: var(--bgc);
    border:none;
    border-radius: 3px;
    -webkit-tap-highlight-color: transparent;
    background-repeat: no-repeat;
    background-size:cover;
    box-shadow: 0px 1px 2px var(--shadow), 0px -1px 2px var(--shadow);
    padding: 0.4rem 0.6rem;
    transition: background-color 0.3s, color 0.5s;
}

.reset:hover{
    background-color: #F15481;
    color:transparent;
    background-image: url('reset.gif');
    /* padding: 0.5rem 0.7rem; */

}

.reset:hover::before{
    display: inline;
}

.reset:active{
    box-shadow: none;
}


.logo{
    width:3em;
    height:3em;
    border-radius: 50%;
    object-fit: cover;
}

.nav-button{
    --vw-width:min(4vw,25px);
    width: var(--vw-width);
    appearance: none;
    margin:0;
    margin-right: 5%;
    background-color: var(--bgc);
    border:solid;
    border-width: 0.15rem;
    position: relative;
    border-radius: 2px;
    border-color:#F15481;
    padding: 0;
    transition: all 1s;
}

.nav-button::after,.nav-button::before{
    content: "";
    position:absolute;
    background-color: #F15481;
    border:solid;
    border-color:#F15481;
    border-radius: 2px;
    width: 100%;
    /* border-color: var(--fc); */
    /* transform-origin: 0% 0%; */
    transition: all 1s;
}

.nav-button::before{
    top:-8px;
    left:-2px;
    transition: all 1s;
    /* transform-origin: center; */
}

.nav-button::after{
    bottom:-8px;
    left:-2px;
    /* transform-origin: center; */
    transition: all 1s;
}

.nav-button[data-active="true"]{
    background-color: inherit;
    /* width:0; */
    height: 0;
    border: none;
}
.nav-button[data-active="true"]::before{
    top:0;
    left:0;
    transform: rotate(45deg);
}
.nav-button[data-active="true"]::after{
    transform: rotate(-45deg);
    top:0;
    left:0;
    bottom: auto;
}

.round {
    cursor: pointer;
    width: 3rem;
    height: 1.2rem;
    border: solid 1px var(--fc);
    border-radius: 13px;
    background-size: cover;
    background-repeat:no-repeat ;
    background-color: var(--bgc);
    transition: background-color 0.5s;
    position: relative;
    border: none;
    box-shadow: 0px 1px 2px var(--shadow), 0px -1px 2px var(--shadow);
}

.round::after {
    transition: left 0.3s ease-out, background-color 0.5s;
    content: "";
    position: absolute;
    top: var(--top);
    left: var(--left);
    width: 33%;
    height: 85%;
    box-shadow: 0px 1px 2px var(--shadow), 0px -1px 2px var(--shadow);
    border-radius: 50%;
    background-color: rgba(241, 84, 129,0.89);
}

.round:hover{
    background-color: #F15481;
}
.round:hover::after{
    background-color: var(--bgc);
}

.middle {
    display: flex;
    flex-wrap: wrap;
    gap:2em;
    justify-content: space-around;
}

.bottom {
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    flex-wrap: wrap;
}

.score {
    border: none;
    border-radius: 2px;
    padding: 0.3rem 1.5rem;
}

.top,
.middle,
.bottom {
    text-align: center;
    padding: 10% 0%;
    width: 100%;
    background-color: var(--bgc);
    box-shadow: 0px 2px 30px var(--shadow);

}

.box {
    display: flex;
    margin:0 auto 5vh auto;
    flex-direction: column;
    width: min(60%, 60vh);
    justify-content: space-between;
    position: relative;
    /* backface-visibility: hidden; */
    align-items: center;
    transform: translateZ(80px);
    z-index: 1;
}

.box::before {
    content: "";
    background-color: #000;
    top: -2%;
    left: -2%;
    width: 104%;
    height: 104%;
    filter: blur(15px);
    opacity: 0.2;
    position: absolute;
    z-index: -1;
}


.deadpool{
    display: flex;
    margin: auto;
    width:min(60%,60vh);
}

.deadpool>img{
    width:100%;
    margin-bottom: -12%;

}



@media screen and (max-width:768px) {
    .box {
        width: 80%;
    }
    .deadpool{
        width: 50%;
    }
}

.chose {
    position: relative;
    box-shadow: 0px 10px 7px var(--shadow);
    background: var(--bgc);
    color: var(--fc);
    width: min(60%, 60vh);
    margin:auto;
    transition: all 0.4s;
}

.chose::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('spiderman-hanging.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.option{
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    /* backface-visibility: hidden; */
    padding:2rem 2rem;
    box-shadow: 20px 20px 25px var(--opt-shadow);
}
.option::before{
    content: "";
    position: absolute;
    /* backface-visibility: hidden; */
    inset:-20%;
    border-radius:50% ;
    overflow: hidden;
    background: conic-gradient(#ff2e4e, #d960ff, #9264ff, #00b3f9, #06cd69, #ffcd69,#ff5e22,#ff2e4e);
}
.option::after{
    content: "";
    text-shadow: 5px 5px 2px black;
    display: flex;
    border-radius: 50%;
    /* backface-visibility: hidden; */
    align-items: center;
    font-weight: 700;
    justify-content: center;
    position: absolute;
    font-size: 1.6rem;
    inset:-20%;
    backdrop-filter: blur(1px);
    background:rgba(255, 255, 255, 0.1);
}

.rock::after{
    content: "🪨";
}
.paper::after{
    content:"📄";
}
.scissors::after{
    content:"✂️";
}

.option:hover::before{
    animation:spin 4s linear 0s infinite normal forwards;
}
.option:hover::after{
    animation:rot360 0.6s ease-out 0s 1 normal forwards;
}
.option:active::after{
    margin-top:3px;
    margin-left:3px;
    text-shadow: none;
}

@keyframes rot360{
    from{
        transform: rotate(0deg);
        background-color: transparent;
        backdrop-filter: none;
    }
    to{
        transform: rotateY(360deg);
    }
}


.menu{
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    --fullwidth:0;
    --fullheight:0;
    bottom:0;
    left: 10%;
    width:80%;
    background:var(--fc);
    transition: all 1s;
    opacity: 0.8;
    color:var(--bgc);
    height: 60%;
    background-image: url('thor.gif');
    background-size: cover;
    /* overflow: hidden; */
    transform:translateZ(2000px);
    z-index: 2000;
    position:absolute;
    display: flex;
    animation: popup 1s ease-in 0s 1 normal forwards;
    flex-direction: column;
    backface-visibility: hidden;

}

.menu-item{
    display: flex;
    height: 6vh;
    padding-left: 17px;
    border: ridge;
    border-width: 1px 0 1px 0;
    border-color: var(--bgc);
    transition: all 0.3s;
    position:relative;
    overflow: hidden;
    cursor: pointer;
    font-size: 6vh;
    color:black;
    -webkit-tap-highlight-color: transparent;
}

.menu-item:hover{
    padding-left: 0;
    padding-bottom: 2vh;
    background-color: var(--bgc);
    color:var(--fc);
}

.menu[data-menu-active="true"]{
    animation: popdown 1s ease 0s 1 normal forwards;
}
.body-on-menu[data-menu-active="true"]{
    animation: popdown 1s ease 0s 1 normal forwards;
}

.body-on-menu{
    position:absolute;
    content: "";
    inset:0;
    z-index:700;
    transform: translateZ(700px);
    overflow: hidden;
    padding:var(--fullheight) var(--fullwidth);
    /* background-color: aqua; */
    animation: popup 1s ease 0s 1 normal forwards;
}

.menu-item > span{
    transform: translateX(200%);
    opacity: 0;
    pointer-events:none;
}

.flipping:nth-child(1) > span{
    animation: flip 0.6s ease 200ms 1 normal forwards;
}.flipping:nth-child(2) > span{
    animation: flip 0.6s ease 250ms 1 normal forwards;
}.flipping:nth-child(3) > span{
    animation: flip 0.6s ease 300ms 1 normal forwards;
}.flipping:nth-child(4) > span{
    animation: flip 0.6s ease 350ms 1 normal forwards;
}

.container{
    margin:0;
    position: relative;
    width:100vw;
    height: 100vh;
    transform-style: preserve-3d;
    background-color: var(--bgc);
    animation: rot 3s ease-in 1s 1 normal forwards;
}

/* .direction{
    background-color: var(--bgc);
    width: 600px;
    height: 100%;
    background-image: url('iron-man.png');
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotateY(-0.25turn) translateZ(300px);
    backface-visibility: hidden;
    box-shadow: inset 0px 1px 10px var(--shadow), inset 0px -1px 10px var(--shadow);
    animation: fly 0.7s ease-in 0s infinite alternate forwards;
} */

@keyframes fly {
    0%{
        background-position: right;
    }
    50%{
        background-position: center;
    }
    100%{
        background-position: left;
    }
    
}

.game{
    position: absolute;
    inset:0;
    height:fit-content;
    transform: rotateY(0.5turn) translateZ(0px);
    transform-style:preserve-3d;
    backface-visibility: hidden;
    background-color: var(--bgc);
    background-size: contain;
    background-position: left;
}

.game::before{
    content: "";
    position: fixed;
    background-image: url('strange.gif');
    top:0;
    left:0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width:20%;
    background-color: var(--bgc);
}

.game::after{
    content: "";
    position: fixed;
    background-image: url('strange.gif');
    top:0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width:20%;
    background-color: var(--bgc);
}

.loading-screen{
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--bgc);
    backface-visibility: hidden;
    position: absolute;
    top:0;
    left:0;
    /* background-image: url('rps.png'); */
    /* background-size: contain; */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* z-index: 22222; */
    transform: translateZ(0px);
    box-shadow: inset 0px 1px 10px var(--shadow), inset 0px -1px 10px var(--shadow);
}

.loading-title{
    transform-style: preserve-3d;
    font-size: 8vw;
    position: relative;
    color:var(--fc);
    padding: 19vh 2vw;
    /* transition: transform 0.2s; */
    transform: translateZ(140px);
    /* backface-visibility: hidden; */
    /* text-shadow: -5px 5px 5px black; */

}

 .loading-title::before{
    content: "";
    /* backface-visibility: hidden; */
    position: absolute;
    inset: 0;
    border:solid;
    background-image: url('joker.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform: translateZ(-50px);
    border-color:#F15481;
} 

.loading-screen-inner{
    position: relative;
    position: absolute;
    content: "";
    bottom:0;
    top:0;
    left:0;
    right:0;
    background-image: url('batman-and-joker.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
}


@keyframes flip{
    0%{
        transform: translateX(200%);
        opacity: 0;
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes popup {
    to{
        transform: translateY(-200%) translateZ(300px) ;
    }
}

 
@keyframes popdown {
    from{
        transform: translateY(-200%) translateZ(300px);
    }
    to{
        transform: translateY(0%) translateZ(300px);
    }
}

@keyframes rot {
    to{
        transform: rotateY(180deg);
    }
}

@keyframes s {
    0%{
        transform: translateY(-200%);
    }
    
    100%{
        transform: translateY(0%);
    }
}

@keyframes t{
    0%{
        transform: translateY(0%);
    }
    
    100%{
        transform: translateY(-200%);
    }
}

@keyframes spin {
    to{
        transform: rotate(360deg);
    }
}