body{
    font-family: Arial, Helvetica, sans-serif;
}

.box{
    margin:auto;
    width: 600px;
    padding:20px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.7);
    border-radius: 10px;
}

.profilepic{
    margin-left: 10px;
    width:70px;
    height:70px;
    border-radius: 200px;
    object-fit: cover;

}

.username{
    font-family: Arial, Helvetica, sans-serif;
    resize:none;
    overflow-x:hidden;
    white-space: nowrap;
    height: 16px;
    border:none;
    color:black;
    font-weight: 700;
    margin-left: 10px;
    margin-top: 10px;
    vertical-align: top;
}

.varified{

    margin-top: 10px;
    display: inline-block;
    width:20px;
    height: 20px;
    font-size: 10px;
    color:white;
    border-radius: 56px;
    background-color: blue;
    vertical-align: top;
}

.userid{
    margin-top:30px;
    margin-left: -200px;
    vertical-align: top;
    border:none;
}

p{
    margin:0px;
}

.last4{
    margin-top: 20px;
    width:400px;
    height: 60px;
    object-fit: cover;
}